.customOverlay {
    background: rgba(16, 14, 32, 0.796);
  }
  .customModal {
    background:#1c2333;
    max-width: 600px;
    border-radius:5px;
    width: 50%;
    padding: 30px;
    color: #2d2c33
  }


  
