
.header{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 550px;
    
  }
  .fa-bar{
    display: none;
  }
  #toggler{
    display: none;
  }
  
  h2{
    text-align:center;
     margin-top:30px
  }
  
  @media only screen and (max-width: 688px) {
  
    .nav{
      position: relative;
    }
      .header{
       
        display: flex;
        flex-direction: column;
        position: fixed;
        left: -600px;
        transform: translatey(-300px);
        transition: .2s ease-in;
        background-color:rgba(239, 215, 215, 0.904);
        width: 500px;
        height: 120px;
       
        
      }
  
      .fa-bar{
      
        z-index: 1;
        display: block;
        position: fixed;
        top: 50px;
        left: 25px;
        transform: scale(1.5);
      }
  
      #toggler:checked~.header{
  
        transform: translatey(-150px);
  
      }
  
      h2{
        text-align:center;
         margin-top:130px
      }
  
    
  }