.App {
  text-align: left;
  border: 1px solid black;
  padding: 2rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#root {
  height: 100vh;
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Comment {
  padding-left: 5rem;
}

.comments-container {
  width: 60%;
  margin-bottom: 2rem;
  /* padding-left: 2rem; */
  justify-content: left;
  display: flex;
}
/* 
value={rootComment}
          onChange={(e) => setRootComment(e.target.value)}

          value={childComment}
          onChange={(e) => setChildComment(e.target.value)} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
